<header>
		{% if request.user.is_authenticated %}
			<form action="{% url 'busca' %}" method="get">
				<input type="search" class="input"
				placeholder="pesquisar contato"
				name="termo"
				value="{{ request.GET.termo }}">
			</form>
		{% else %}
			<h3>Faça login para ver seus contatos</h3>
		{% endif %}
</header>

<nav>
	<a href="{% url 'index' %}"><h3>Agenda</h1></a>
	<div>
		{% if request.user.is_authenticated %}
			<a href="{% url 'dashboard' %}">Dashboard</a>
			<a href="{% url 'logout' %}">Logout</a>
		{% else %}
			<a href="{% url 'login' %}">Login</a>
			<a href="{% url 'cadastro' %}">Cadastrar</a>
		{% endif %}
		</div>
</nav>